@page
@model Parroquia_Digital.Pages.EventosEspecialesModel
@{
    ViewData["Title"] = "Eventos Especiales";
    Layout = "_Layout";
}



<div class="container">
    <h1 class="infoContent">Bingo Mensual</h1>
    <p class="paragraph">
        Se realiza los primeros lunes del mes a las 4pm.
    </p>

    <h1 class="infoContent">Día de la madre</h1>
    <p class="paragraph">
        Misa especial para las mamitas el 15 de agosto a las 6pm.
    </p>

    <h1 class="infoContent">Día del padre</h1>
    <p class="paragraph">
        Misa especial para las papitos el segundo domingo de Junio a las 9:30am.
    </p>

    <h1 class="infoContent">Día de la virgen de Los Ángeles</h1>
    <p class="paragraph">
        El 2 de agosto realizamos una misa especial y posteriormente un recorrido alrededor del parque con alabanzas. Se realiza a las 6:00pm.
    </p>
</div>