@page
@model Parroquia_Digital.Pages.GruposModel
@{
    ViewData["Title"] = "Grupos pastorales";
    Layout = "_Layout";
}


    <div class="container">
        <div style="display: inline-block; vertical-align: top; width: 30%;margin-bottom: 35px;">
            <h1 class="infoContent">Pastoral Juvenil</h1>
            <p>🗓¿Cuándo nos reunimos? Todos los viernes</p>
            <p>⏰¿A qué hora? De 7:00 pm a 8:30 pm</p>
            <p>📍¿Dónde? Salón Ateneo, Centro Parroquial</p>
        </div>
        <div style="display: inline-block; vertical-align: top; width: 35%;">
            <img src="~/images/Pastoral.jpeg" alt="Imagen de PJ" style="width: 375px; height: 200px;">
        </div>
            <a href="https://www.instagram.com/pjsanmicr/" target="_blank">
                <img src="~/images/instagramIcon.png" alt="Instagram" style="width: 50px; height: 50px;">
            </a>

            <a href="https://www.facebook.com/profile.php?id=100064261676839" target="_blank">
                <img src="~/images/facebookIcon.png" alt="FacebookPJ" style="width: 60px; height: 60px;">
            </a>
            <a href="https://wa.me/+50660335430" target="_blank">
                <img src="~/images/whatsappIcon.png" alt="WhatsappPJ" style="width: 60px; height: 60px;">
            </a>
    </div>

    <div class="container">
        <div style="display: inline-block; vertical-align: top; width: 30%;margin-bottom: 35px;">
            <h1 class="infoContent">Pastoral Adulto Mayor</h1>
            <p>🗓¿Cuándo nos reunimos? Todos los jueves</p>
            <p>⏰¿A qué hora? De 7:00 am a 11:00 am</p>
            <p>📍¿Dónde? Salón Ateneo, Centro Parroquial</p>
        </div>
        <div style="display: inline-block; vertical-align: top; width: 35%;">
            <img src="~/images/PastoralAM.jpg" alt="Imagen Adulto Mayor" style="width: 375px; height: 200px;">
        </div>
        <div style="display: inline-block; vertical-align: top; width: 30%; margin-left: 10px;">
            <a href="https://wa.me/+50660335430" target="_blank">
                <img src="~/images/whatsappIcon.png" alt="WhatsappPAM" style="width: 70px; height: 70px;">
            </a>
        </div>
    </div>

    <div class="container">
        <div style="display: inline-block; vertical-align: top; width: 30%;margin-bottom: 35px;">
            <h1 class="infoContent">Grupo Oseas</h1>
            <p>🗓¿Cuándo nos reunimos? Todos los viernes</p>
            <p>⏰¿A qué hora? De 7:00 pm a 9:00 pm</p>
            <p>📍¿Dónde? Salón Catequesis, Higuito</p>
        </div>
        <div style="display: inline-block; vertical-align: top; width: 35%;">
            <img src="~/images/oseasIcon.jpg" alt="Imagen de PJ" style="width: 375px; height: 200px;">
        </div>
        <div style="display: inline-block; vertical-align: top; width: 30%; margin-left: 10px;">
            <a href="https://www.instagram.com/comunidad_oseasm/" target="_blank">
                <img src="~/images/instagramIcon.png" alt="Instagram" style="width: 50px; height: 50px;">
            </a>
            <a href="https://wa.me/+50660335430" target="_blank">
                <img src="~/images/whatsappIcon.png" alt="WhatsappPAJ" style="width: 60px; height: 60px;">
            </a>
        </div>

    </div>