@page
@model Parroquia_Digital.Pages.GruposModel
@{
    ViewData["Title"] = "Grupos";
    Layout = "_Layout";
}


<div class="container">
    <h1 class="infoContent">Matrimonios en victoria</h1>
    <p class="paragraph">
        Lunes de 6 p. m. a 7 p. m.
        Contacto de whatsapp:
        <a  href="https://wa.me/+50660335430" target="_blank">
            <span class="infoContent">Click Aquí</span>
        </a>
    </p>

    <h1 class="infoContent">Pastoral juvenil</h1>
    <p class="paragraph">
        Lunes de 5 p. m. a 6 p. m.
        Contacto de whatsapp:
        <a href="https://wa.me/+50660335430" target="_blank">
            <span class="infoContent">Click Aquí</span>
        </a>
    </p>

    <h1 class="infoContent">Pastoral del adulto mayor</h1>
    <p class="paragraph">
        Miercoles de 6 p. m. a 7 p. m.
        Contacto de whatsapp:
        <a href="https://wa.me/+50660335430" target="_blank">
            <span class="infoContent">Click Aquí</span>
        </a>
    </p>

    <h1 class="infoContent">Pastoral del adulto joven</h1>
    <p class="paragraph">
        Viernes de 7 p. m. a 8 p. m.
        Contacto de whatsapp:
        <a href="https://wa.me/+50660335430" target="_blank">
            <span class="infoContent">Click Aquí</span>
        </a>
    </p>

    <h1 class="infoContent">Catequesis juvenil</h1>
    <p class="paragraph">
        Lunes de 6 p. m. a 7 p. m.
        Contacto de whatsapp:
        <a href="https://wa.me/+50660335430" target="_blank">
            <span class="infoContent">Click Aquí</span>
        </a>
    </p>
</div>