@page
@model Parroquia_Digital.Pages.HorarioModel
@{
    ViewData["Title"] = "Horarios";
    Layout = "_Layout";
}



<div class="container">
    <h1 class="infoContent">Eucaristías en el centro parroquial</h1>
    <p class="paragraph">
        Lunes a viernes 6 p. m.<br>
        Jueves 8 a. m.<br>
        Sábado 7 p. m.<br>
        Domingo 7 9:30 a. m. y 11 a. m.; 5 y 7 p. m.
    </p>

    <h1 class="infoContent">Confesiones</h1>
    <p class="paragraph">
        De martes a jueves de 5 a 6 p.m. en el templo parroquial<br>
        Viernes 9:30 11:30 a.m. SOLO PARA ADULTOS MAYORES<br>
        Jueves 7 p.m. durante la Hora Santa
    </p>

    <h1 class="infoContent">Atención de los sacerdotes</h1>
    <p class="paragraph">
        Martes y jueves de 2:30 a 5 p.m. Solicitar la cita en la Oficina Parroquial.
    </p>

    <h1 class="infoContent">Presentaciones matrimoniales</h1>
    <p class="paragraph">
        Contactar a la Oficina Parroquial.
    </p>

    <h1 class="infoContent">Matrimonios</h1>
    <p class="paragraph">
        Contactar a la Oficina Parroquial.
    </p>

    <h1 class="infoContent">Bautizos</h1>
    <p class="paragraph">
        Segundo sábado del mes 10 a.m. excepto cuando oportunamente se da a conocer un cambio en horario por realizarse otras actividades parroquiales. CUPO LIMITADO.<br>
        La inscripción se realiza como mínimo 8 días antes.<br>
        Los requisitos son:<br>
        1. La persona a bautizar debe vivir en la región comprendida como Vicaría Nuestra Señora de los Desamparados. Si no fuera el caso, se debe presentar un permiso de la Parroquia que se encuentre en la ubicación que se indica en la constancia de nacimiento expedida por el Hospital.<br>
        2. Original de la constancia de nacimiento o certificación del Registro Civil.<br>
        3. Originales de los títulos de Catequesis Bautismal de papás y padrinos.<br>
        4. Nombre completo de los cuatro abuelos (paternos y maternos).<br>
        5. Contribución de ¢1.000.
    </p>

    <h1 class="infoContent">Capilla Velatoria</h1>
    <p class="paragraph">
        Contacta a la Oficina Parroquial.
    </p>

    <h1 class="infoContent">Horario de la Oficina Parroquial</h1>
    <p class="paragraph">
        Lunes a viernes 8 a. m. a 12 p. m. y de 1 a 5 p. m. Sábado 8 a. m. a 12 p. m.
    </p>
</div>



    


