@page
@model Parroquia_Digital.Pages.HorarioModel
@{
    ViewData["Title"] = "Horarios";
    Layout = "_Layout";
}



<div class="container">
    <h1 class="infoContent">Eucaristías en el centro parroquial</h1>
    <p class="paragraph">
        Lunes a viernes 6:00 p. m.<br>
        Jueves 9:00 a. m.<br>
        Sábado 7:00 p. m.<br>
        Domingo 7:30 a.m 10:30 a. m. y 4:00 p. m.

    </p>

    <h1 class="infoContent">Confesiones en el centro parroquial</h1>
    <p class="paragraph">
        Viernes de 3:00 p.m. a 5:00 p.m.

    </p>

    <h1 class="infoContent">Guía espiritual o consejería</h1>
    <p class="paragraph">
        Solicitar la cita en la Oficina Parroquial.

    </p>

    <h1 class="infoContent">Presentaciones matrimoniales y bautizos</h1>
    <p class="paragraph">
        Contactar a la Oficina Parroquial.

    </p>

    <h1 class="infoContent">Horario de la Oficina Parroquial</h1>
    <p class="paragraph">
        Martes a viernes 8:00 a. m. a 12:00 p. m. y de 1:00 a 4:00 p. m. Sábado 8:00 a. m. a 12:00 p. m.
    </p>
</div>



    


