@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "LayoutInicio";
}


<img class="initial-image" src="~/images/fondoInicio.png" alt="Imagen Inicial">



<div class="container2">
    <h1 class="infoContent2">¡Bienvenid@s!</h1>
    <p class="paragraph2">
        En esta página puede encontrar nuestro horario, los eventos especiales, además nuestra información de contacto.
        Además contamos con una encuesta de satisfacción que nos ayuda a saber como se ha sentido la comunidad con la página web.
    </p>
</div>
